<div class="MessageBox">
<div class="box">
<form>
	<div class="TitleBar" style="background-color: <%= para.titleBgColor||"" %>">
		<div class="title">${para.title}</div>
		<div class="SysActionBar">
			<span class="SysActionBarItem" id="s_btnClose" style="font-family:marlett">r</span>
		</div>
	</div>
	<div class="Body" style="background-color: <%= para.bodyBgColor||"" %>">
		${para.body}
	</div>
	<div class="ActionBar">
		<input class="ActionBarItem" id="btnOK" name="btnOK" type="button" value="确定">
	</div>
</form>
</div>
</div>