.MessageBox{
	width: 100%;
	height: 100%;
	font-size: 9pt;
	text-align: left;
	overflow: hidden;
}
.MessageBox .box{
	position: relative;
	width: 100%;
	height: 100%;
	border: solid 1px #0368FA;
	overflow: hidden;
}
.MessageBox form{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.MessageBox .TitleBar{
	position: absolute;
	left:0;
	right:0;
	top:0;
	width: 100%;
	height: 20px;
	margin:0;
	padding:0;
	color: white;
	font-weight: bold;
	line-height: 20px;
	background-color: #0368FA;
	overflow:hidden;
}
.MessageBox .TitleBar .title{
	float: left;
	background-color: transparent;
}
.MessageBox .TitleBar .SysActionBar{
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}
.MessageBox .TitleBar .SysActionBarItem{
	width: 12px;
	font-size: 12px;
	font-weight: normal;
	color: black;
	cursor: pointer;
	overflow: hidden;
}
.MessageBox .TitleBar #s_btnClose{
	color: white;
	background-color: red;
}
.MessageBox .Body{
	width: 100%;
	height: 100%;
	padding: 1px;
	overflow: auto;
}
.MessageBox .ActionBar{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	border-top: solid 1px gray;
	overflow:hidden;
}
.MessageBox .ActionBarItem{
	width: 70px;
	margin: 3px 7px;
	*padding-top: 1px;
}