/* only for IE6 standard mode */

.Selector{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 9pt;
	text-align: left;
	overflow: hidden;
}
.Selector .List{
	width: 100%;
	height: 100%;
	padding: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}
.Selector .ListItem{
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}
.Selector .ActionBar{
	width: 100%;
	height: 29px;
	text-align: center;
	border-top: solid 1px gray;
	overflow:hidden;
}
.Selector .ActionBarItem{
	width: 70px;
	margin: 3px 7px;
	*padding-top: 1px;
}